html,
body {
  margin: 0;
}

#map {
  position: absolute;
  top: 0px;
  bottom: 0px;
  width: 100%;
  background-color: rgb(0, 0, 0);
}

.coordinate-display {
  position: absolute;
  bottom: 10px;
  left: 10px;
  padding: 5px;
  border-radius: 5px;
  /* background-color: brown; */
}